<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ParkingLotManagment</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/lib/bootswatch/lumen/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ParkingLotManagment.styles.css" asp-append-version="true"/>
    <!--<link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.ico"/>-->
    <link rel="shortcut icon" type="image/x-icon" href="~/images/android-chrome-192x192.png"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.2/css/all.css" crossorigin="anonymous" />
</head>
<body>
    <header>
        @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"> *@
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="light">
            <div class="container-fluid">
                @* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ParkingLotManagment</a> *@
                <a class="navbar-brand home-icon-link" asp-area="" asp-controller="Home" asp-action="Index">
                    @* <img width="64" height="64" src="https://img.icons8.com/arcade/64/parking.png" alt="parking" /> *@
                    <img width="50" height="50" src="~/images/parking-96-icon-edit.png" alt="parking" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-2 w-25">
                    @{
                        <li class="nav-item">
                              <a class="nav-link text-light" asp-area="" asp-controller="Estacionamiento" asp-action="Index">Estacionamientos</a>
                        </li>
                        <li class="nav-item">
                              <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Agrega tu estacionamiento</a>
                        </li>
                        if(false)
                        //if (User.IsInRole(nameof(Rol.Administrador)))
                        {
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Tus Tickets</a>
                        </li>
                        }
                    }
                    </ul>

                    <form class="d-flex w-25">
                        <label class="label-search w-100">
                            <input class="form-control me-sm-2" type="search" placeholder="Buscar" disabled>
                        </label>
                        @* <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button> *@
                    </form>
                    <ul b-5udnc8lv76="" class="navbar-nav ">
                        <li b-5udnc8lv76="" class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Clientes" asp-action="Create">Registrarse</a>
                        </li>
                        <li b-5udnc8lv76="" class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Clientes" asp-action="Create">Iniciar Sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ParkingLotManagment
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
