@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div><a asp-area="" asp-controller="Tickets" asp-action="Index">Index Tickets</a></div>
    <div><a asp-area="" asp-controller="Tickets" asp-action="Details">Details Tickets</a></div>
    <div><a asp-area="" asp-controller="Tickets" asp-action="Create">Create Tickets</a></div>
    <div><a asp-area="" asp-controller="Tickets" asp-action="Edit">Edit Tickets</a></div>
    <div><a asp-area="" asp-controller="Tickets" asp-action="Delete">Delete Tickets</a></div>

    <div><a asp-area="" asp-controller="Clientes" asp-action="Index">Index Clientes</a></div>
    <div><a asp-area="" asp-controller="Clientes" asp-action="Details">Details Clientes</a></div>
    <div><a asp-area="" asp-controller="Clientes" asp-action="Create">Create Clientes</a></div>
    <div><a asp-area="" asp-controller="Clientes" asp-action="Edit">Edit Clientes</a></div>
    <div><a asp-area="" asp-controller="Clientes" asp-action="Delete">Delete Clientes</a></div>

    <div><a asp-area="" asp-controller="Vehiculos" asp-action="Index">Index Vehiculos</a></div>
    <div><a asp-area="" asp-controller="Vehiculos" asp-action="Details">Details Vehiculos</a></div>
    <div><a asp-area="" asp-controller="Vehiculos" asp-action="Create">Create Vehiculos</a></div>
    <div><a asp-area="" asp-controller="Vehiculos" asp-action="Edit">Edit Vehiculos</a></div>
    <div><a asp-area="" asp-controller="Vehiculos" asp-action="Delete">Delete Vehiculos</a></div>
</div>
